[submodule "third_party/mimicplay"]
	path = third_party/mimicplay
	url = https://github.com/rnkj/mimicplay
[submodule "third_party/robosuite"]
	path = third_party/robosuite
	url = https://github.com/ARISE-Initiative/robosuite.git
[submodule "third_party/bddl"]
	path = third_party/bddl
	url = https://github.com/StanfordVL/bddl.git
[submodule "third_party/robomimic"]
	path = third_party/robomimic
	url = https://github.com/ARISE-Initiative/robomimic
